body{
margin: 0;
padding: 0;
width: 100%;
}

h1 {
font-family:"Arvo";
font-weight:normal;
font-size: 55px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}

h2 {
font-family:"Arvo";
font-weight: normal;
font-size: 40px;
text-align: center;
color: #fff;
margin: 0;
padding: 0;
}

h3 {
font-family: "Oswald";
font-weight: normal;
font-size: 16px;
text-align: center;
margin: 5px 0;
padding: 0;
z-index: 1;
position: relative;
}

.center {
  margin: 0 auto;
}

.content {
  margin-top: 10px;
  width:960px;
}

.clear {
  clear: both;
}

#header {
  width: 100%;
  background-color: black;
  opacity: 0.7;
  height: 80px;
  position: fixed;
  margin-top: 40px;
}

#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}

#nav li a:hover {
  color: #fff;
  opacity: 1;
}

.quotes {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin: 50px auto;
}

/*.quotes_container {
  width: 800px;
  margin: 0 auto;
}*/

#divider {
  background: url('../images/divider.png')no-repeat;
  width: 300px;
  height: 35px;
  margin: 0px auto 27px auto;
}

#slide1, #slide2{
  width: 100%;
}

#slide1 {
background:url('../images/me.jpg') 50% 0 no-repeat fixed;
color: #fff;
/*height: 600px;*/
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}

#slide2 {
background-color: #fff;
color: #333333;
height: 700px;
margin: 0 auto;
overflow: hidden;
padding: 100px 0;
}

#slide3 {
background: url('../images/me.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 700px;
padding: 170px 0 0 0;
background-size: cover;
}

#slide4 {
background-color: #fff;
color: #333333;
height: 700px;
padding: 100px 0;
}

#slide5 {
background: url('../images/thinking.jpg') 50% 0 no-repeat fixed;
/*height: 200px;*/
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}

.ruby-projects {
  margin-top: 35px;
  opacity: .8;
}

.rails-projects {
  margin-top: 35px;
  opacity: .8;
}

.contact-info {
  display: none;
  background-color:#fff;
  border-radius:10px 10px 10px 10px;
  box-shadow:0 0 25px 5px #999;
  width: 300px;
  color:#111;
  padding:25px;
}
